:root {
  --rp-c-brand: #ffa500;
  --rp-c-brand-dark: #ffa500;
  --rp-c-brand-darker: #ffa500;
  --rp-c-brand-light: #ffa500;
  --rp-c-brand-lighter: #ffa500;
  --rp-sidebar-width: 400px;
  --rp-aside-width: 350px;
  --rp-code-title-bg: rgba(250, 192, 61, 0.15);
  --rp-code-block-bg: rgba(214, 188, 70, 0.05);
}

h1 {
    background: var(--rp-c-brand);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: var(--rp-c-brand);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}